
<div class="container" *ngIf="employee">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{employee.firstName + employee.lastName}}</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Mphasis DLF Park, Chennai</p>
                      <button class="btn btn-primary" (click)="openModal(myModal)">Update Profile</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.firstName + employee.lastName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Employee Id</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                  {{employee.employeeId}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{employee.emailId}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date Of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       {{employee.dateOfBirth | date}}
                    </div>
                  </div>
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Location</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {{ employee.locationId}}
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
    </div>


<ng-template #myModal >
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]= "updateform">
             
          FirstName:
            <div class="form-group">
                <input type="text" class="form-control"  formControlName="firstName" >
            </div>
            
            LastName:
            <div class="form-group">
              <input type="text" class="form-control"  formControlName="lastName">
          </div>
             
          Email Id:
            <div class="form-group">
                <input type="text" class="form-control"formControlName="emailId" >
            </div>
            
            DateOfBirth:
            <div class="form-group">
               <input type="date" formControlName="dateOfBirth">
            </div>
            EmployeeId
            <div class="form-group">
                <input type="text" class="form-control" disabled formControlName="employeeId">
            </div>
              
            Location
            <div class="form-group">
              <select class="form-control" id="sel1"  formControlName="locationId">
                <option value="Chennai">Chennai</option>
                <option value="Bangalore">Bangalore</option>
               
              </select>
            </div>
            <input type="hidden" name="projectId" formControlName="projectId">
            <div class="modal-footer">
              <div class="text-right m-2">
    
                <input type="submit" (click)="close()" value="Update">
              </div>
          </div>
        </form>
      </div>
      
</ng-template>